<div *ngIf="isAdmin == 'true'; else userHeader">
  <app-header></app-header>
</div>
<ng-template #userHeader>
  <app-user-header></app-user-header>
</ng-template>
<body>
  <div class="">
    <div class="">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>
                <b>Participant Details By Primary Skill</b>
              </h2>
            </div>
            <div
              class="col-sm-4"
              style="text-align: end"
              *ngIf="isAdmin == 'true'; else elseBlock"
            >
              <a routerLink="../admin-dashboard" title="Back"
                ><i class="bx bx-arrow-back"></i
              ></a>
            </div>
            <ng-template #elseBlock>
              <div class="col-sm-4" style="text-align: end">
                <a routerLink="../user-dashboard" title="Back"
                  ><i class="bx bx-arrow-back"></i
                ></a>
              </div>
            </ng-template>
          </div>
          <label for="itemsPerPageSelect">Items per page:</label>
          <select id="itemsPerPageSelect" [(ngModel)]="itemPerPage">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">
              {{ option }}
            </option></select
          ><br />
        </div>
        <table class="table table-bordered">
          <thead class="bg-secondary text-light">
            <tr>
              <th>S.No</th>
              <th>Employee Name</th>
              <th>Designation</th>
              <th>Resource Manager</th>
              <th>Business Unit</th>
              <th>Primary Skill</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let contribution of participantDetails
                  | paginate : { itemsPerPage: itemPerPage, currentPage: page };
                index as i
              "
            >
              <td>{{ (page - 1) * itemPerPage + i + 1 }}</td>
              <td>{{ contribution["participantName"] }}</td>
              <td>{{ contribution["designation"] }}</td>
              <td>{{ contribution["resourceManager"] }}</td>
              <td>{{ contribution["businessUnit"] }}</td>
              <td>{{ contribution["primarySkill"] }}</td>
              <td>{{ contribution["points"] }}</td>
            </tr>
          </tbody>
        </table>
        <div class="paginate">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
