<body>
  <div class="">
    <div class="">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2><strong>Profile Details</strong></h2>
            </div>
            <div class="col-sm-4">
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="handleAddProfile()"
              >
                Add New
              </button>
              &nbsp;
              <button
                type="button"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="handleProfileExport()"
              >
                Export
              </button>
            </div>
          </div>
          <label for="itemsPerPageSelect">Items per page:</label>
          <select id="itemsPerPageSelect" [(ngModel)]="itemPerPage">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">
              {{ option }}
            </option></select
          ><br />
        </div>

        <table class="table table-bordered">
          <thead class="bg-secondary text-light">
            <tr>
              <th>S.No</th>
              <th>Name</th>
              <th>Email</th>
              <th>Primary Skill</th>
              <th>Sub Skills</th>
              <th>Designation</th>
              <th>Business Unit</th>
              <th>Resource Manager</th>
              <th>Role</th>
              <th>Action</th>
            </tr> 
          </thead>
          <tbody
            *ngFor="
              let profile of profiles
                | paginate : { itemsPerPage: itemPerPage, currentPage: page };
              index as i
            "
          > 
            <tr class="{{ i % 2 == 0 ? 'bg-light' : '' }}">
              <td class 
              = "centre-align">{{ (page - 1) * itemPerPage + i + 1 }}</td>
              <td>{{ profile["name"] }}</td>
              <td>{{ profile["email"] }}</td>
              <td>{{ profile.primarySkill }}</td>
              <td>{{ profile.subSkill ? profile.subSkill.join(", ") : "" }}</td>
              <td>{{ profile["designation"] }}</td>
              <td>{{ profile["businessUnit"] }}</td>
              <td>{{ profile["rmName"] }}</td>
              <td>{{ profile["admin"] ? "Admin" : "User" }}</td>
              <td>
                <a
                  class="edit"
                  (click)="handleEditProfile(profile)"
                  title="Edit"
                  ><em class="bx bxs-edit"></em
                ></a>
                <a
                  class="delete"
                  (click)="handleDeleteProfile(profile['id'])"
                  title="Delete"
                  ><em class="bx bxs-trash-alt"></em
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="paginate">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editPopup">
    <app-edit-profile
      [profile]="profile"
      (onClose)="closeEditPopUp()"
    ></app-edit-profile>
  </div>
  <div *ngIf="addPopup">
    <app-add-profile (onClose)="closeAddPopUp()"></app-add-profile>
  </div>
</body>
