<body>
  <div class="">
    <div class="">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2><strong>Program Details</strong></h2>
            </div>
            <div class="col-sm-4">
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="handleAddProgram()"
              >
                Add New
              </button>
              &nbsp;
              <button
                type="button"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="handleProgramExport()"
              >
                Export
              </button>
            </div>
          </div>
          <label for="itemsPerPageSelect">Items per page:</label>
          <select id="itemsPerPageSelect" [(ngModel)]="itemPerPage">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">
              {{ option }}
            </option></select
          ><br />
        </div>
        <table class="table table-bordered">
          <thead class="bg-secondary text-light">
            <tr>
              <th>S.No</th>
              <th>Category</th>
              <th>Title</th>
              <th>Description</th>
              <th>Weightage</th>
              <th>Added By</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let program of programs
                | paginate : { itemsPerPage: itemPerPage, currentPage: page };
              index as i
            "
          >
            <tr>
              <td>{{ (page - 1) * itemPerPage + i + 1 }}</td>
              <td>{{ program.category }}</td>
              <td>{{ program.title }}</td>
              <td>{{ program.description }}</td>
              <td>{{ program.weightage }}</td>
              <td>{{ program.addedBy }}</td>
              <td>{{ program.startDate }}</td>
              <td>{{ program.endDate }}</td>
              <td>
                <div class="actions">
                  <a
                    class="edit"
                    (click)="handleEditProgram(program)"
                    title="Edit"
                    ><em class="bx bxs-edit"></em
                  ></a>

                  <a
                    class="view"
                    (click)="handleViewParticipant(program)"
                    title="View Participant"
                    ><em class="bx bx-show-alt"></em
                  ></a>
                  <a
                    class="delete"
                    (click)="handleDeleteProgram($event)"
                    title="Delete"
                    ><em class="bx bxs-trash-alt"></em
                  ></a>
                  <input type="hidden" value="{{ program.programId }}" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="paginate">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editPopup">
    <app-edit-program
      [program]="program"
      (onClose)="closeEditPopUp()"
    ></app-edit-program>
  </div>
  <div *ngIf="addPopup">
    <app-add-program (onClose)="closeAddPopUp()"></app-add-program>
  </div>
</body>
