<div *ngIf="isAdmin == 'true'; else userHeader">
  <app-header></app-header>
</div>
<ng-template #userHeader>
  <app-user-header></app-user-header>
</ng-template>
<div *ngIf="zeroContribution; else elseBlock">
  <h1 style="text-align: center">Oops! No contribution</h1>
</div>
<ng-template #elseBlock>
  <body>
    <div class="">
      <div class="">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8">
                <h2>
                  <b
                    >{{ participantDetails[0]["participantName"] }} Contribution
                    Details of {{currentYear}}</b
                  >
                </h2>
                <h2>
                  Overall Points : {{points}}
                </h2>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead class="bg-secondary text-light">
              <tr>
                <th>S.No</th>
                <th>Program Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Contributer Type</th>
                <th>Points</th>
                <th>Awarded Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contribution of participantDetails; index as i">
                <td class 
                = "centre-align">{{ i + 1 }}</td>
                <td>{{ contribution["program"][0]["title"] }}</td>
                <td class 
                = "centre-align">{{ contribution["program"][0]["startDate"] }}</td>
                <td class 
                = "centre-align">{{ contribution["program"][0]["endDate"] }}</td>
                <td>{{ contribution["contributorType"] }}</td>
                <td class 
                = "centre-align">{{ contribution["points"] }}</td>
                <td class 
                = "centre-align">{{ contribution["awardedDate"] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</ng-template>
<app-footer></app-footer>
