<app-header></app-header>
<body>
  <div>
    <div>
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>
                <strong>Participants in the Program-{{ programTitle }}</strong>
              </h2>
            </div>
            <div class="col-sm-4 view-participant-actions">
              <div>
                <button
                  type="button"
                  class="btn btn-primary add-program-template-container"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  (click)="handleAddParticipant()"
                >
                  Add New
                </button>
                &nbsp;
                <button
                  (click)="handleClickAddBulkParticipant($event)"
                  class="btn btn-danger"
                >
                  Add bulk
                  <input
                    type="file"
                    accept=".csv"
                    id="participant-csv"
                    (change)="handleAddBulkParticipant($event)"
                    style="visibility: hidden"
                  />
                </button>
                &nbsp;
                <button
                  type="button"
                  class="btn btn-success"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  (click)="handleParticipantExport()"
                >
                  Export
                </button>
              </div>
              <a routerLink="../manage-program" title="Back"
                ><em class="bx bx-arrow-back"></em
              ></a>
            </div>
          </div>
          <label for="itemsPerPageSelect">Items per page:</label>
          <select id="itemsPerPageSelect" [(ngModel)]="itemPerPage">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">
              {{ option }}
            </option></select
          ><br />
        </div>
        <table class="table table-bordered">
          <thead class="bg-secondary text-light">
            <tr>
              <th>S.No</th>
              <th>ParticipantName</th>
              <th>ContributorType</th>
              <th>Points</th>
              <th>Added By</th>
              <th>Awarded Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let participant of participants
                | paginate : { itemsPerPage: itemPerPage, currentPage: page };
              index as i
            "
          >
            <tr>
              <td class="centre-align">
                {{ (page - 1) * itemPerPage + i + 1 }}
              </td>
              <td>{{ participant.participantName }}</td>
              <td>{{ participant.contributorType }}</td>
              <td class="centre-align">{{ participant.points }}</td>
              <td>{{ participant.addedBy }}</td>
              <td class="centre-align">{{ participant.awardedDate }}</td>

              <td>
                <a
                  class="edit"
                  (click)="handleEditParticipant(participant)"
                  title="Edit"
                  ><em class="bx bxs-edit"></em
                ></a>

                <a
                  class="delete"
                  title="Delete"
                  class="delete"
                  (click)="
                    handleDeleteParticipant($event, participant.participantId)
                  "
                  title="Delete"
                  ><em class="bx bxs-trash-alt"></em
                ></a>
                <input type="hidden" value="{{ programId }}" />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="paginate">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editPopup">
    <app-edit-participant
      [programId]="programId"
      [participant]="participant"
      [weightage]="weightage"
      (closePopup)="closeEditPopUp()"
    ></app-edit-participant>
  </div>
  <div *ngIf="addPopup">
    <app-add-participant
      [programId]="programId"
      [weightage]="weightage"
      (closePopup)="closeAddPopUp()"
    ></app-add-participant>
  </div>
  <script src="row-veiw.js"></script>
</body>
<app-footer></app-footer>
