.pm-title {
  color: rgb(17, 148, 148);
}
.pm-card-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  /* flex-wrap: wrap; */
  word-wrap: break-word;
  max-width: 10px;
  margin: auto;
}

.pm-card-container .card {
  margin: 20px;
  word-wrap: break-word;
  max-width: 10px;
  cursor: pointer;
}
.pm-card-container .card :hover {
  background: rgb(240, 240, 240);
}
