<div class="signup-container">
  <form [formGroup]="registerForm" (ngSubmit)="signUpHandler(registerForm)">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><em class="bx bxs-user" style="font-size: 34px"> </em>
        </span>
      </div>
      <input
        formControlName="userName"
        [ngClass]="{
          'is-invalid': submitted && registerForm.controls.userName.errors
        }"
        type="text"
        class="form-control username"
        placeholder="Username"
      />

      <div
        *ngIf="submitted && registerForm.controls.userName.errors"
        class="text-danger"
      >
        Username is Required
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><em class="bx bxs-user" style="font-size: 34px"> </em>
        </span>
      </div>
      <input
        formControlName="email"
        [ngClass]="{
          'is-invalid': submitted && registerForm.controls.email.errors
        }"
        type="text"
        class="form-control email"
        placeholder="Email"
      />

      <div
        *ngIf="submitted && registerForm.controls.userName.errors"
        class="text-danger"
      >
        Email is Required
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><em class="bx bxs-lock-alt" style="font-size: 34px"> </em>
        </span>
      </div>
      <input
        formControlName="password"
        [ngClass]="{
          'is-invalid': submitted && registerForm.controls.password.errors
        }"
        type="password"
        class="form-control password"
        minlength="6"
        placeholder="Password"
      />
      <div
        *ngIf="submitted && registerForm.controls.password.errors"
        class="text-danger"
      >
        Password should atleast 6 character long
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><em class="bx bxs-lock" style="font-size: 34px"> </em>
        </span>
      </div>
      <input
        formControlName="confirmPassword"
        [ngClass]="{
          'is-invalid':
            submitted && registerForm.controls.confirmPassword.errors
        }"
        type="password"
        minlength="6"
        class="form-control confirm-password"
        placeholder="ConfirmPassword"
      />
      <div
        *ngIf="submitted && registerForm.controls.confirmPassword.errors"
        class="text-danger"
      >
        Password should atleast 6 character long
      </div>
    </div>

    <input type="submit" class="btn btn-primary py-2 px-4" value="Sign Up" />
  </form>

  <p>
    Already have an account ?
    <span class="log-in-link" (click)="onClick()"> Log in </span>
  </p>
</div>
