<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Program Template</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="handleClosePopup()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #programForm="ngForm"
          (ngSubmit)="
            programForm.form.valid &&
              handleAddProgramTemplate(programForm.value);
            programForm.resetForm()
          "
        >
          <div class="add-program">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bx bx-book-add" style="font-size: 34px"> </i>
                </span>
              </div>
              <input
                type="text"
                name="category"
                required
                id="category"
                [(ngModel)]="form.category"
                class="form-control"
                placeholder="Category"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bx bxs-detail" style="font-size: 34px"> </i>
                </span>
              </div>
              <input
                type="text"
                name="description"
                required
                id="description"
                [(ngModel)]="form.description"
                class="form-control"
                placeholder="Description"
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bx bx-equalizer" style="font-size: 34px"> </i>
                </span>
              </div>
              <input
                type="text"
                name="weightage"
                required
                id="weightage"
                [(ngModel)]="form.weightage"
                class="form-control weightage"
                placeholder="Weightage"
              />
            </div>
          </div>
          <div class="modal-footer">
            <input
              type="submit"
              value="Add"
              class="btn btn-success"
              [disabled]="programForm.form.status === 'INVALID'"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
