<body>
  <div class="">
    <div class="">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2><strong>Program Template Details</strong></h2>
            </div>
            <div class="col-sm-4">
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="handleAddProgramTemplate()"
              >
                Add New
              </button>
              &nbsp;
              <button
                type="button"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="handleProgramTemplateExport()"
              >
                Export
              </button>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead class="bg-secondary text-light">
            <tr>
              <th>S.No</th>
              <th>Category</th>
              <th>Description</th>
              <th>Weightage</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let programTemplate of programTemplates; index as i">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ programTemplate.category }}</td>
              <td>{{ programTemplate.description }}</td>
              <td>{{ programTemplate.weightage }}</td>
              <td>
                <a
                  class="edit"
                  (click)="handleEditProgramTemplate(programTemplate)"
                  title="Edit"
                  ><em class="bx bxs-edit"></em
                ></a>

                <!-- <a class="view" title="View Participant"
                  ><i class="bx bx-show-alt"></i
                ></a> -->
                <a
                  class="delete"
                  (click)="handleDeleteProgramTemplate($event)"
                  title="Delete"
                  ><em class="bx bxs-trash-alt"></em
                ></a>
                <input
                  type="hidden"
                  value="{{ programTemplate.programTemplateId }}"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="editPopup">
    <app-edit-program-template
      [programTemplate]="programTemplate"
      (onClose)="closeEditPopUp()"
    ></app-edit-program-template>
  </div>
  <div *ngIf="addPopup">
    <app-add-program-template
      (onClose)="closeAddPopUp()"
    ></app-add-program-template>
  </div>
</body>
